.dashboard {
    height: 100%;
    display: flex;

    .sidebar {
        .ant-layout-sider,
        .ant-layout-sider-children {
            height: 100%;
        }

        .ant-layout-sider {
            border-right: 1px solid #ddd;
        }

        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;

            .ant-menu {
                width: 100%;
                border: 0;
            }

            .ant-btn {
                width: 100%;
                margin-top: auto;
                border: 0;
            }

            [ant-click-animating-without-extra-node='true']::after {
                display: none;
            }
        }
    }
    .main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .header {
        z-index: 100;
        box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.25);
        clip-path: inset(0px 0px -15px 0px);
        [ant-click-animating-without-extra-node='true']::after {
            display: none;
        }

        .app-header {
            display: flex;
            justify-content: space-between;

            .btn-back {
                border: 0;
                padding: 0;
                box-shadow: none;
            }

            .profile {
                padding: 4px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .name {
                    padding: 0 24px;
                }
            }
        }
    }

    .page {
        flex: 1;
        overflow-y: scroll;
        overflow-y: overlay;
    }
}
